<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:with="gameExist=${game.id ne null}">
<head>
    <meta charset="UTF-8">
    <link href=" v https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title th:if="${gameExist}" th:text="#{lt.codeacademy.psgames.game.form.update.title}"></title>
    <title th:if="${not gameExist}" th:text="#{lt.codeacademy.psgames.game.form.create.title}"></title>
</head>
<body>
<div class="container">
    <h3 th:text="${gameExist ? 'Update game:' : 'Create game:'}"></h3>
    <form method="post" th:object="${game}">
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputName"
                   th:field="*{name}"
                   th:placeholder="#{lt.codeacademy.psgames.game.form.name}"
                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': (${game.name ne null} ? 'is-valid' : '')">
            <label for="floatingInputName"
                   th:text="#{lt.codeacademy.psgames.game.form.name}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}">
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputGenre"
                   th:field="*{genre}"
                   th:placeholder="#{lt.codeacademy.psgames.game.form.genre}"
                   th:classappend="${#fields.hasErrors('genre')} ? 'is-invalid': (${game.genre ne null} ? 'is-valid' : '')">
            <label for="floatingInputGenre"
                   th:text="#{lt.codeacademy.psgames.game.form.genre}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('genre')}"
                 th:errors="*{genre}">
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputPrice"
                   th:field="*{price}"
                   th:placeholder="#{lt.codeacademy.psgames.game.form.price}"
                   th:classappend="${#fields.hasErrors('price')} ? 'is-invalid': (${game.price ne null} ? 'is-valid' : '')">
            <label for="floatingInputPrice"
                   th:text="#{lt.codeacademy.psgames.game.form.price}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('price')}"
                 th:errors="*{price}">
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputResponse"
                   th:field="*{response}"
                   th:placeholder="#{lt.codeacademy.psgames.game.form.response}"
                   th:classappend="${#fields.hasErrors(comment')} ? 'is-invalid': (${game.comment ne null} ? 'is-valid' : '')">
            <label for="floatingInputComment"
                   th:text="#{lt.codeacademy.psgames.game.form.response}"></label>
            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('comment')}"
                 th:errors="*{comment}">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary" th:text="${gameExist ? 'Update game' : 'Create game'}"></button>
    </form>
    <div th:if="${message}" th:text="#{${message}}"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>